body {
  background: #9c835f;
}

.back {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 98px;
  color: #724c21;
  text-decoration: none;
}

.navbar-brand {
  margin-top: 30px;
}

.navbar-brand span {
  margin-left: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 49px;
  color: #f9b23d;
  width: 100%;
}

.player-name {
  margin-left: 35px;
  font-size: 36px;
  justify-items: center;
}

.tool {
  width: 70%;
  justify-content: center;
}

button {
  background-color: transparent;
  border-color: transparent;
  width: 50%;
  height: 200px;
  margin-top: 30px;
  justify-content: center;
  border-radius: 10%;
}

.ptool {
  cursor: pointer;
}

.Versus-Reset {
  margin: 180px 5px;
}

.Versus-Reset h1 {
  font-weight: 700;
  font-size: 144px;
  line-height: 196px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #bd0000;
  margin-left: -200px;
}

.Versus-Reset img {
  margin-top: 100px;
  margin-left: -80px;
  width: 70%;
}

.com-name {
  margin-left: 70px;
  font-size: 36px;
  justify-items: center;
}

/* Js */

.chosen {
  background-color: #c4c4c4;
  border-radius: 30px;
}

.winBox {
  height: 100px;
  width: 200px;
  display: grid;
  place-items: center;
  background: #4c9654;
  border-radius: 10px;
  margin: 294px -130px 25px -130px;
}

.drawBox {
  height: 100px;
  width: 200px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  margin: 294px -130px 25px -130px;
  background: #035b0c;
}

/* desktops view */
@media (max-width: 575.98px) {
  body {
    overflow-y: hidden;
  }

  .back {
    margin-left: -5px;
    font-size: 30px;
  }

  .navbar-brand span {
    font-size: 18px;
  }

  .player-name {
    font-size: 22px;
    justify-items: center;
    margin-left: 0;
  }

  .tool {
    width: 100%;
  }

  button {
    width: 80%;
    height: 100px;
  }

  .Versus-Reset {
    margin: 50px 5px;
  }

  .Versus-Reset h1 {
    margin-top: 100px;
    font-size: 48px;
    margin-left: -35px;
  }

  .Versus-Reset img {
    margin-top: -50px;
    width: 300%;
    margin-left: -20px;
  }

  .com-name {
    margin-left: 16px;
    font-size: 22px;
    justify-items: center;
  }

  .winBox {
    height: 50px;
    width: 100px;
    display: grid;
    place-items: center;
    background: #4c9654;
    border-radius: 10px;
    margin: 200px -50px 100px;
  }

  .drawBox {
    height: 50px;
    width: 100px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    margin: 200px -50px 100px;
    background: #035b0c;
    border-radius: 10px;
  }
}
